<div class="back p-5">
    <div class="container" >
    <div class="row">
        <app-proudct class="col-md-3"></app-proudct>
        <app-proudct class="col-md-3"></app-proudct>
        <app-proudct class="col-md-3" ></app-proudct>
        <app-proudct class="col-md-3"></app-proudct>
        <app-proudct class="col-md-3"></app-proudct>
        <app-proudct class="col-md-3"></app-proudct>
        <app-proudct class="col-md-3"></app-proudct>
        <app-proudct class="col-md-3"></app-proudct>
    </div>
</div>
</div>
